body
{
    margin: 0px;
}
#container1,#container2,#container3
{
    display: flex;
}
#item-bloc,#item
{
   width: 50%;
   height: 2500px;
   border: 1px solid none;
   display: inline-block;
}
#item-bloc1,#item-1
{
    width: 50%;
   height: 2100px;
   border: 1px solid none;
   display: inline-block;
}
#item3,#item4
{
    width: 100%;
    height: 1050px;
}
#container2
{
    width: 100%;
    height: 1300px;
    background-color: rgb(49, 49, 49);
}
#item1,#item2
{
    width: 100%;
    height: 1250px;
}
#item1
{
    background: url("../Image/vertex-bg-01.jpg")fixed no-repeat;
    background-position: 400px;
}
#item2
{
    background: url("../Image/vertex-bg-02.jpg")fixed no-repeat;
    background-position-x: 400px;
}
#item3
{
    background: url("../Image/vertex-bg-03.jpg")fixed no-repeat;
    background-position-x: 400px;
}
#item4
{
    background: url("../Image/vertex-bg-04.jpg")fixed no-repeat;
    background-position-x: 400px;
}
#item-bloc,#item-bloc1
{
    background-color: rgb(49, 49, 49);
}
header
{
    width: 50%;
    height: 100px;
    background-color: rgb(73, 73, 73);
    display: flex;
}
nav ul
{
    list-style: none;
}
nav li
{
    display: inline-block;
    padding: 22px;
}
nav
{
    margin-left: -40px;
}
nav a
{
    text-decoration: none;
    color: rgb(163, 160, 157);
}
a:hover
{
    color: springgreen;
}
header,nav
{
    position: fixed;
    top: 0px;
    left: 0px;
}
#para img
{
    width: 200px;
    height: 200px;
}
h2
{
    color: springgreen;
    font-size: 30px;
}
#text p
{
    text-align: justify;
    font-size: 20px;
    color: rgb(129, 129, 129);
}
#text
{
    margin-left: 15px;
}
#para
{
    display: flex;
    margin: 90px 90px 90px 90px;
}
img,#text
{
    display: inline-block;
}
#date
{
    text-align: right;
    margin-right: 80px;
    color: rgb(129, 129, 129);
}
#cont1
{
    color: rgb(177, 177, 177);
    font-size: 20px;
    text-decoration: none;
}
#cont1:hover
{
    color: springgreen;
}
hr
{
    width: 50%;
    margin-right: 80px;
    border: 1px inset rgb(0, 0, 0);
}
#next
{
    text-align: right;
    margin: 50px 80px 100px 0px;
}
#next a
{
    text-decoration: none;
    border: 1px solid  rgb(129, 129, 129);
    padding: 20px 40px 20px 40px;
    color:rgb(129, 129, 129);
}
#next a:hover
{
    border: 1px solid  springgreen;
    color: springgreen;
}
#our p
{
    text-align: justify;
    color:rgb(129, 129, 129);
    font-size: 20px;
}
#our
{
    margin-left: 80px;
    margin-right: 50px;
}
#our #next1
{
    text-align: right;
    margin: 50px 30px 30px 0px;
}
#our hr
{
    width: 80%;
}
#next1 a
{
    text-decoration: none;
    border: 1px solid  rgb(129, 129, 129);
    padding: 20px 40px 20px 40px;
    color:rgb(129, 129, 129);
}
#next1 a:hover
{
    border: 1px solid  springgreen;
    color: springgreen;
}
#container2 h2
{
    text-align: right;
    margin-right: 85px;
}
#gal
{
    margin-left: 100px;
    
}
#gal img
{
    padding: 15px;
}
#gal img:hover
{
    opacity: 50%;
}
#gal2
{
    margin-left: 282px;
}
#number
{
    margin-left: 555px;
    margin-top: 80px;
}
#number p
{
    display: inline-block;
    padding: 10px;
}
#number a
{
    text-decoration: none;
    color:rgb(129, 129, 129);
    padding: 15px 20px 15px 20px;
    border: 1px solid none;
    background-color: rgb(20, 20, 20);
}
#number a:hover
{
    color: springgreen;
    background-color: rgb(129, 129, 129);
}
#article1 p
{
    padding-top: 40px;
    font-size: 20px;
    color: rgb(129, 129, 129);
    text-align: justify;
}
#article2 p
{
    padding-top: 40px;
    font-size: 20px;
    color: rgb(129, 129, 129);
    text-align: justify;
}
#article1 hr
{
    width: 70%;
    margin-top: 50px;
    margin-right: 90px;
}
#article1 #cont 
{
    text-align: right;
}
#cont a
{
    text-decoration: none;
    color:  rgb(129, 129, 129);
    border: 1px solid  rgb(129, 129, 129);
    padding: 20px 40px 20px 40px;
}
#cont a:hover
{
    color: springgreen;
    border: 1px solid  springgreen;
}
#article1,#article2
{
    margin-left: 90px;
    margin-right: 100px;
}
form
{
    margin-top: 90px;
}
input
{
    border: 1px solid rgb(49, 49, 49);
    border-bottom: 1px solid rgb(129, 129, 129);
    background-color: rgb(49, 49, 49);
    display: block;
    padding: 0px 0px 30px 0px;
    font-size: 20px;
}
input:hover
{
    border-bottom: 1px solid white;
}
textarea
{
    border: 1px solid rgb(49, 49, 49);
    border-bottom: 1px solid rgb(129, 129, 129);
    background-color: rgb(49, 49, 49);
    display: block;
    padding: 0px 0px 100px 0px;
    font-size: 20px;
    width: 100%;
}
textarea:hover
{
    border-bottom: 1px solid white;
}
#article2 #send 
{
    text-align: right;
}
#send a
{
    text-decoration: none;
    color:  rgb(129, 129, 129);
    border: 1px solid  rgb(129, 129, 129);
    padding: 20px 40px 20px 40px;
}
#send a:hover
{
    color: springgreen;
    border: 1px solid  springgreen;
}